# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @roofstock/retail-lead-to-lease @roofstock/retail-lead-to-lease-ext
/.github/ @roofstock/devops
